<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'LEWATT.UI.EnterName'}}"/></h1>
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns.  --}}
      <div class="resources grid grid-3col">

        {{!-- "flex-group-center" is also defined in the _grid.scss file
        and it will add a small amount of padding, a border, and will
        center all of its child elements content and text. --}}
        <div class="resource flex-group-center">
          <label for="data.hp.value" class="resource-label">{{localize 'LEWATT.HP'}}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="data.hp.value" value="{{data.hp.value}}" data-dtype="Number"/>
            <span> / </span>
            <span>{{data.hp.max}}</span>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="data.mp.value" class="resource-label">{{localize 'LEWATT.MP'}}</label>
            <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="data.mp.value" value="{{data.mp.value}}" data-dtype="Number"/>
            <span> / </span>
            <span>{{data.mp.max}}</span>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="data.attributes.level.value" class="resource-label">{{localize 'LEWATT.Level'}}</label>
            <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="data.attributes.level.value" value="{{data.attributes.level.value}}" data-dtype="Number"/>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="data.stamina.value" class="resource-label">{{localize 'LEWATT.Stamina'}}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="data.stamina.value" value="{{data.stamina.value}}" data-dtype="Number"/>
            <span> / </span>
            <span>{{data.stamina.max}}</span>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="data.sanity.value" class="resource-label">{{localize 'LEWATT.Sanity'}}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="data.sanity.value" value="{{data.sanity.value}}" data-dtype="Number"/>
            <span> / </span>
            <span>{{data.sanity.max}}</span>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="data.attributes.lust.value" class="resource-label">{{localize 'LEWATT.Lust'}}</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="data.attributes.lust.value" value="{{data.attributes.lust.value}}"/>
          </div>
        </div>

      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="features">{{localize 'LEWATT.UI.Features'}}</a>
    <a class="item" data-tab="description">{{localize 'LEWATT.UI.Description'}}</a>
    <a class="item" data-tab="items">{{localize 'LEWATT.UI.Items'}}</a>
    <a class="item" data-tab="spells">{{localize 'LEWATT.UI.Spells'}}</a>
    <a class="item" data-tab="effects">{{localize 'LEWATT.UI.Effects'}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Features Tab --}}
    <div class="tab features" data-group="primary" data-tab="features">
      <section class="grid grid-3col">
        <aside class="sidebar">

          {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
          use both the "grid" and "grid-Ncol" class where "N" can be any number
          from 1 to 12 and will create that number of columns.  --}}
          <div class="stats flexcol">
            {{#each data.stats as |stat key|}}
            <div class="stat flexrow flex-group-center">
              <label for="data.stats.{{key}}.value" class="resource-label rollable flexlarge align-left" data-roll="{{concat stat.value 'd6cs>=5'}}" data-label="{{localize (concat 'LEWATT.stat.' key)}}">{{localize (concat 'LEWATT.stat.' key)}}</label>
              <input type="text" name="data.stats.{{key}}.value" value="{{stat.value}}" data-dtype="Number"/>
            </div>
            {{/each}}
          </div>
        </aside>

        {{!-- For the main features list, span the right two columns --}}
        <section class="main grid-span-2">
          {{!-- This is a Handlebars partial. They're stored in the `/parts` folder next to this sheet, and defined in module/helpers/templates.mjs --}}
          {{> "systems/lewdattack/templates/actor/parts/actor-features.html"}}
        </section>

      </section>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      <section class="grid grid-2col">
        <div>
          <label for="data.race" class="resource-label">{{localize 'LEWATT.Race'}}</label>
          <input type="text" name="data.race" value="{{data.race}}"  placeholder="{{localize 'LEWATT.UI.EnterRace'}}"/>
        </div>
        <div>
          <label for="data.class" class="resource-label">{{localize 'LEWATT.Class'}}</label>
          <input type="text" name="data.class" value="{{data.class}}"  placeholder="{{localize 'LEWATT.UI.EnterClass'}}"/>
        </div>
      </section>
      {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
      {{editor content=data.biography target="data.biography" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
       {{> "systems/lewdattack/templates/actor/parts/actor-items.html"}}
    </div>

    {{!-- Owned Spells Tab --}}
    <div class="tab spells" data-group="primary" data-tab="spells">
      {{> "systems/lewdattack/templates/actor/parts/actor-spells.html"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/lewdattack/templates/actor/parts/actor-effects.html"}}
    </div>

  </section>
</form>

